@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.DocscreenLayout{

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  padding: 5rem;

}

.DocComponentsContainer{

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;

}


.DocTitle{

  width: 100%;
  text-align: center;

  font-size: 1.8rem;
  padding: 1rem;

  word-wrap: break-word;
  white-space: normal;
  word-break: break-word;
  white-space: normal;

  border-left: 0.35rem solid black;
  border-bottom: 0.35rem solid black;
  border-right: 0.15rem solid black;
  border-top: 0.15rem solid black;
  background-color: rgb(194, 224, 255);
  box-shadow: 0 0 1rem 0.75rem rgb(167, 112, 196);

}

.DocPaper{

  width: 60vw;
  height: 40rem;
  overflow-y: auto;

  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  border-left: 0.35rem solid black;
  border-bottom: 0.35rem solid black;
  border-right: 0.15rem solid black;
  border-top: 0.15rem solid black;
  background-color: rgb(194, 224, 255);
  box-shadow: 0 0 1rem 0.75rem rgb(167, 112, 196);

}

.DocStyle-0 {

  font-family: monospace;

}

.DocStyle-1 {

  font-family: 'VT323', monospace;

}

.DocStyle-2 {

  font-family: 'Silkscreen', sans-serif;

}

.DocSize-0 {

  font-size: 1rem;

}

.DocSize-1 {

  font-size: 1.5rem;

}

.DocSize-2 {

  font-size: 2rem;

}

.DocColor-0{

  color: black;

}


.DocColor-1{

  color: rgb(255, 0, 0);

}


.DocColor-2{

  color: rgb(127, 0, 0);

}


.DocColor-3{

  color: rgb(255, 166, 0);

}

.DocColor-4{

  color: rgb(150, 58, 0);

}


.DocColor-5{

  color: rgb(255, 0, 183);

}

.DocColor-6{

  color: rgb(137, 0, 101);

}

.DocColor-7{

  color: rgb(255, 208, 0);

}

.DocColor-8{

  color: rgb(159, 114, 0);

}

.DocColor-9{

  color: rgb(0, 197, 0);

}


.DocColor-a{

  color: rgb(8, 94, 0);

}


.DocColor-b{

  color: rgb(0, 110, 255); 

}

.DocColor-c{

  color: rgb(0, 0, 190); 

}


.DocColor-d{

  color: rgb(153, 0, 204);

}


.DocColor-e{

  color: rgb(71, 0, 138);

}


.DocPage-0{

  background-color: rgb(218, 238, 255);

}

.DocPage-1{

  background-color: rgb(255, 218, 218);

}

.DocPage-2{

  background-color: rgb(254, 231, 210);

}


.DocPage-3{

  background-color: rgb(255, 218, 254);

}


.DocPage-4{

  background-color: rgb(255, 250, 225);

}

.DocPage-5{

  background-color: rgb(224, 255, 228);

}


.DocPage-6{

  background-color: rgb(186, 208, 255);

}


.DocPage-7{

  background-color: rgb(225, 206, 255);

}

.DocPage-8{

  background-color: rgb(43, 43, 43);

}



.DocNavButtonsContainer{

  display: flex;
  flex-direction: row;

  gap: 2rem;

}