.DocCharacter {

  display: inline-block;
  font-size: 1.5rem;

}

.cursor {

  display: inline-block;
  width: 0.2rem;
  height: 1.5rem;
  background-color: rgb(119, 0, 255);
  animation: blink 1s infinite;
  
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
