.DocComponentsContainer{

  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;

}

.DocTitleContainer{

  display: flex;
  flex-direction: column;
  align-items: center;

  gap:1rem;

}

.DocTitle{

  width: 60vw;

  display: inline-block;
  text-align: center;

  background-color: rgb(194, 224, 255);

  padding: 1.5rem 2rem;

}

.DocPage{

  width: 60vw;
  height: 40rem;

  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;

  display: flex;
  flex-direction: row;
  overflow-y: auto;

  background-color: rgb(194, 224, 255);

}


.DocTextContainer {

  display: inline-block;

}
