.buttonPlaceHolder{

  font-size: 1.3rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;

  color: black;
  border-left: 0.3rem solid black;
  border-bottom: 0.3rem solid black;
  border-right: 0.15rem solid black;
  border-top: 0.15rem solid black;
  background-color: rgb(111, 155, 199);
  box-shadow: 0 0 1rem 0.5rem rgb(112, 125, 196);

}