body {

  min-height: 100vh;
  margin: 0;
  padding: 0;

  background-color: rgb(203, 148, 255);
    
}

* {

  font-family: monospace;
  box-sizing: border-box;

  position: relative;
  margin: 0;
  padding: 0;

}


a:link,
a:visited,
a:hover,
a:active {
  
  display: inline-block;
  text-decoration: none;
  color: inherit;
    
}



/*Custom tags:*/

/* Scrollbars */

::-webkit-scrollbar {
  width: 0.8rem; 
}
 
::-webkit-scrollbar-track {
  background: #0c0042;  
  border-radius: 1rem;     
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(166, 203, 255), rgb(6, 92, 196));
  border-radius: 1rem;
  border: 0.2rem solid #1c0042; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(150, 204, 255); 
}
