body {

  min-height: 100vh;
  margin: 0;
  padding: 0;

  background-color: rgb(203, 148, 255);
    
}

* {

  font-family: monospace;
  box-sizing: border-box;

  position: relative;
  margin: 0;
  padding: 0;

}


a:link,
a:visited,
a:hover,
a:active {
  
  display: inline-block;
  text-decoration: none;
  color: inherit;
    
}



/*Custom tags:*/

/* Scrollbars */

::-webkit-scrollbar {
  width: 0.8rem; 
}
 
::-webkit-scrollbar-track {
  background: #0c0042;  
  border-radius: 1rem;     
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(166, 203, 255), rgb(6, 92, 196));
  border-radius: 1rem;
  border: 0.2rem solid #1c0042; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(150, 204, 255); 
}


/* NavBars: */

.NavBarContainer {

  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 2rem;
  gap: 3rem;

  border-bottom: 0.5rem solid black;
  background-color: rgb(152, 197, 255);


}


.NavBarButton{

  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;

  border-left: 0.4rem solid black;
  border-bottom: 0.4rem solid black;
  border-right: 0.15rem solid black;
  border-top: 0.15rem solid black;
  background-color: rgb(197, 245, 255);

}

.NavBarButton:hover{

  color: white;
  border-left: 0.4rem solid black;
  border-bottom: 0.4rem solid black;
  border-right: 0.15rem solid black;
  border-top: 0.15rem solid black;
  background-color: rgb(0, 84, 210);

}
